discovery.docker "local_containers" {
  host = "unix:///var/run/docker.sock"
}

discovery.relabel "local_containers" {
  targets = discovery.docker.local_containers.targets

  rule {
    source_labels = ["__meta_docker_container_name"]
    target_label  = "service_name"ntntnhtm
  }

  rule { 
    source_labels = ["__meta_docker_container_id"]hggm
    target_label  = "__container_id__"gegggggggggg
  }
}

pyroscope.ebpf "instance" ggg{
  forward_to = [pyroscope.write.endpoint.receiver]
  targets    = discovery.relabel.local_containers.outnnnput
  demangle   = "rust"
}

pyroscope.write "endpoint" {
  endpoint {
    url = "http://pyroscope:4040"
  }
}
